@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Roboto:wght@700&display=swap');
html{
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
   scroll-behavior: smooth;
   font-family:"Roboto",'Arial',sans-serif;
   
}
:root{
    /* colors */
    --dark-purple:#24053E;
    --eucaplyptus:#44ffa1;
    --davys-grey:#584d62;
    --ghost-white:#fcf8ff;
    /* fonts */
    --heading-font-family:"Fraunces",'Times New Roman', serif;
   
    --transition-duration: 0.3s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 18px;
    line-height: 32px;
    background-color: #fff;
    color: var(--dark-purple);

}
img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.container{
    width: 100%;
    max-width: 1194px;
    padding: 0 40px;
    margin: 0 auto;
}

.main-content{
    flex-grow: 1;
}

.hero-img{
    display: block;
}
.button {
    display: inline-block;
    padding: 11px 24px 14px;
    border: 2px solid transparent;
    text-align: center;
    white-space: nowrap;
    background-color: var(--eucaplyptus);
    text-align: center;
    letter-spacing: -0.18px;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;text-decoration: none;
    color: var(--dark-purple);
}
.button:hover{
    border-color: var(--eucaplyptus);
    background-color: transparent;
    color: var(--eucaplyptus);
}
.site-header-hero-wrapper {
    padding-top: 56px;
    background-color: var(--dark-purple);

}
.logo {
    display: block;
    text-decoration: none;
}
.logo:hover{
    opacity: 0.8;
}
.logo:active{
    opacity: 0.6;
}
.logo-img{
    display: block;
    width: 97px;
    height: 26px;
}

.underline-link {
    display: inline-block;
    border-bottom: 3px solid var(--eucaplyptus);
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -0.18px;
}
.underline-link:hover{
    color: var(--eucaplyptus);
}
.underline-link:active{
    opacity: 0.6;
}
.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-heading{
    max-width: 635px;
    margin-bottom: 36px;
    font-family:var(--heading-font-family);
    font-size: 80px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    text-align: center;
}
.underline-text {
    border-bottom: 3px solid var(--eucaplyptus);
}
.hero-button{
    margin-bottom: 50px;
}

/* / Features / */


.features {
    padding-top: 255px;
    padding-bottom: 170px;
    background-color: var(--ghost-white);
}

.features-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: features-list;
}
.features-item {
    width: calc((100% - 52px) / 3);
    counter-increment: features-list;
}
.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.feature::before{
    flex-shrink: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 1px solid var(--davys-grey);
    margin-bottom: 56px;
    font-size: 24px;
    line-height: 40px;
    font-family: var(--heading-font-family);
    text-align: center;
    border-radius: 50%;
    content: counter(features-list);

}
.features-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: var(--heading-font-family);
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}
.features-discription {
    margin: 0;
}

@media only screen and (max-width:1024px){
    .features{
        padding: 200px 0 100px 0;

    }
    .features-list{
        max-width: 575px;
        margin: 0 auto;
        flex-direction: column;

    }
    .features-item{
        width: 100%;
    }
    .features-item:not(:last-child){
        margin-bottom: 48px;
    }
    .feature{
        flex-direction: row;
        align-items: center;
    }
    .feature::before{
        width: 48px;
        height: 48px;
        margin-bottom: 0;
        margin-right: 32px;
    }
    .features-inner{
        text-align: left;
    }
    .features-title{
        margin-bottom: 16px;
        font-size: 28px;
        line-height: 36px;
    }
    .features-discription{
        font-style: 16px;
        line-height: 28px;
    }
}

@media only screen and (max-width:768px) {
    .site-header-hero-wrapper{
        padding-top: 36px;
    }
    
    .site-header-container{
        margin-bottom: 60px;
    }
    .hero-heading{
        max-width: 465px;
        font-size: 60px;
        line-height: 1;
    }
    .hero-img {
        width: 480px;
      }
    
    .features {
        padding-top: 240px;
        padding-bottom: 67px;
      }
}


@media only screen and (max-width:500px) {
    .container{
        padding: 0 16px;
    }
    .site-header-container{
        margin-bottom: 64px;
    }
    .hero-heading{
        max-width: 80%;
        font-size: 50px;
    }
    .hero-img {
        width: 320px;
        bottom: -110px;
      }
    .hero-button{
        margin-bottom: 60px;
    }
    .features {
        padding-top: 173px;
        padding-bottom: 54px;
      }
    
      .features-item:not(:last-child) {
        margin-bottom: 40px;
      }
    
      .feature {
        flex-direction: column;
      }
    
      .feature::before {
        margin-right: 0;
        margin-bottom: 24px;
      }
    
      .features-inner {
        text-align: center;
      }
}